@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
}

body {
  background-color: #343541;
}


#app {
  max-width: 100vw;
  width: 70vw;
  height: 99vh;
  background-image: url("./assets/AskIboAi-Bg-Image.png");
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  margin: auto;
}


.header {
  padding: 1px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #383946;
  color: #ececf1;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

}

.header h1 {
  font-size: 70px;
  text-align: center;
  margin: 0;
}

.header p {
  font-size: 0.75em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: -0.5em 0 0 0;
  padding: 5px;
  text-align: center;
}


#chat_container {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  gap: 10px;

  -ms-overflow-style: none;
  scrollbar-width: none;

  padding-bottom: 20px;
  scroll-behavior: smooth;
}

/* hides scrollbar */
#chat_container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100%;
  padding: 15px;
}

.ai {
  background: #40414F;
}

.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;

  background: #5436DA;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background: transparent;
}

.profile img {
  width: 90%;
  height: 90%;
  object-fit: contain;
}

.message {
  flex: 1;

  color: #dcdcdc;
  font-size: 20px;

  max-width: 100%;
  overflow-x: scroll;

  /*
   * white space refers to any spaces, tabs, or newline characters that are used to format the CSS code
   * specifies how white space within an element should be handled. It is similar to the "pre" value, which tells the browser to treat all white space as significant and to preserve it exactly as it appears in the source code.
   * The pre-wrap value allows the browser to wrap long lines of text onto multiple lines if necessary.
   * The default value for the white-space property in CSS is "normal". This tells the browser to collapse multiple white space characters into a single space, and to wrap text onto multiple lines as needed to fit within its container.
  */
  white-space: pre-wrap; 

  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hides scrollbar */
.message::-webkit-scrollbar {
  display: none;
}

#input-area {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 5px;
  background-color: #343541;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

form {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  background: #40414F;

  display: flex;
  flex-direction: row;
  gap: 10px;

  border-radius: 5px;
}

#input-area textarea {
  width: calc(100% - 2em);

  color: #ececf1;
  font-size: 18px;

  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
}

form img {
  width: 40px;
  height: 40px;
}

#input-area input {
  width: calc(100% - 2em);
  background-color: #40414F;
  border: none;
  color: #ececf1;
  font-size: 1em;
  padding: 1em;
  border-radius: 5px;
}

.disclaimer {
  font-size: 0.7em;
  text-align: center;
  color: #757575;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0px 0.5em;
  margin: 0.3em;
}

.disclaimer a {
  color: #818f7b;
  font-style: italic;
}


.creator-copyright {
  margin-left: 12px;
}

/* From uiverse.io by @pedertanberg */
.loader {
  display: inline-block;
  position: relative;
  width: 5px;
  height: 5px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 12px 5px 0;
  transform-origin: 12px 5px 0;
  }
  
  .loader span {
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgb(20, 245, 0);
  -webkit-animation: loader45 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: loader45 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  .loader span:after,
  .loader span:before {
  content: " ";
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  background: rgb(20, 245, 0)
  }
  
  .loader span:before {
  left: -5px;
  border-radius: 50% 0 0 50%;
  }
  
  .loader span:after {
  top: -5px;
  border-radius: 50% 50% 0 0;
  }
  
  @-webkit-keyframes loader45 {
  0% {
      transform: scale(0.95);
      -ms-transform: scale(0.95);
      /* added vendor specific css (IE) */
      -webkit-transform: scale(0.95);
      /* added vendor specific css (Safari, Opera , Chrome) */
  }
  
  5% {
      transform: scale(1.1);
      -ms-transform: scale(1.1);
      /* added vendor specific css (IE) */
      -webkit-transform: scale(1.1);
      /* added vendor specific css (Safari, Opera , Chrome) */
  }
  
  39% {
      transform: scale(0.85);
      -ms-transform: scale(0.85);
      /* added vendor specific css (IE) */
      -webkit-transform: scale(0.85);
      /* added vendor specific css (Safari, Opera , Chrome) */
  }
  
  45% {
      transform: scale(1);
      -ms-transform: scale(1);
      /* added vendor specific css (IE) */
      -webkit-transform: scale(1);
      /* added vendor specific css (Safari, Opera , Chrome) */
  }
  
  60% {
      transform: scale(0.95);
      -ms-transform: scale(0.95);
      /* added vendor specific css (IE) */
      -webkit-transform: scale(0.95);
      /* added vendor specific css (Safari, Opera , Chrome) */
  }
  
  100% {
      transform: scale(0.9);
      -ms-transform: scale(0.9);
      /* added vendor specific css (IE) */
      -webkit-transform: scale(0.9);
      /* added vendor specific css (Safari, Opera , Chrome) */
  }
  }


@-o-webkit-keyframes loader45 {
  0% {
      transform: scale(0.95);
      -ms-transform: scale(0.95);
      /* added vendor specific css (IE) */
      -webkit-transform: scale(0.95);
      /* added vendor specific css (Safari, Opera , Chrome) */
  }
  
  5% {
      transform: scale(1.1);
      -ms-transform: scale(1.1);
      /* added vendor specific css (IE) */
      -webkit-transform: scale(1.1);
      /* added vendor specific css (Safari, Opera , Chrome) */
  }
  
  39% {
      transform: scale(0.85);
      -ms-transform: scale(0.85);
      /* added vendor specific css (IE) */
      -webkit-transform: scale(0.85);
      /* added vendor specific css (Safari, Opera , Chrome) */
  }
  
  45% {
      transform: scale(1);
      -ms-transform: scale(1);
      /* added vendor specific css (IE) */
      -webkit-transform: scale(1);
      /* added vendor specific css (Safari, Opera , Chrome) */
  }
  
  60% {
      transform: scale(0.95);
      -ms-transform: scale(0.95);
      /* added vendor specific css (IE) */
      -webkit-transform: scale(0.95);
      /* added vendor specific css (Safari, Opera , Chrome) */
  }
  
  100% {
      transform: scale(0.9);
      -ms-transform: scale(0.9);
      /* added vendor specific css (IE) */
      -webkit-transform: scale(0.9);
      /* added vendor specific css (Safari, Opera , Chrome) */
  }
}


@keyframes loader45 {
  0% {
      transform: scale(0.95);
      -ms-transform: scale(0.95);
      /* added vendor specific css (IE) */
      -webkit-transform: scale(0.95);
      /* added vendor specific css (Safari, Opera , Chrome) */
  }
  
  5% {
      transform: scale(1.1);
      -ms-transform: scale(1.1);
      /* added vendor specific css (IE) */
      -webkit-transform: scale(1.1);
      /* added vendor specific css (Safari, Opera , Chrome) */
  }
  
  39% {
      transform: scale(0.85);
      -ms-transform: scale(0.85);
      /* added vendor specific css (IE) */
      -webkit-transform: scale(0.85);
      /* added vendor specific css (Safari, Opera , Chrome) */
  }
  
  45% {
      transform: scale(1);
      -ms-transform: scale(1);
      /* added vendor specific css (IE) */
      -webkit-transform: scale(1);
      /* added vendor specific css (Safari, Opera , Chrome) */
  }
  
  60% {
      transform: scale(0.95);
      -ms-transform: scale(0.95);
      /* added vendor specific css (IE) */
      -webkit-transform: scale(0.95);
      /* added vendor specific css (Safari, Opera , Chrome) */
  }
  
  100% {
      transform: scale(0.9);
      -ms-transform: scale(0.9);
      /* added vendor specific css (IE) */
      -webkit-transform: scale(0.9);
      /* added vendor specific css (Safari, Opera , Chrome) */
  }
}